body {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.logo {
  width: 154px;
}

h1 { 
  font-family: , sans-serif;
  font-size: 2.5rem;
  text-align: left;
}

/* tamanho imagens */

.tile-image {
  width: 250px;  
}

.quadrado {
  width: 250px;
}

.fotosgde {
  width: 300px;
}

/* Div vídeos autoplay */

.divvideos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 370px 70px;
}

/* Div imagens estáticas */

.fotos-container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 10px;
}

.fotos-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  gap: 40px;
}

.cafe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 125px 25px 25px 25px;
  gap: 30px;
  padding: 10px;
 }

 /* hover imagens */

 img{
  transition: transform .2s;
  margin:0 auto;
  border-radius: 2px;
}

img:hover{
  transform:scale(1.5);
}

/* botão */

a {
  text-decoration: none;
  color: inherit;

}

.btn {
  background-color: antiquewhite;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5000px;
  transition: all 0.3s;
  width: 56px;
}

.btn:hover {
  transform:scale(1.15);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer {
  text-align: right;
  color: midnightblue;
}